html, body {
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    flex-direction: row;
    padding: 50px;
}

#concierto{
    height: 200px;
    width: 150px;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
}

#eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow:  0px 0px 10px grey;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-left: 50px;
}

#marco-foto{
    padding: 1px;
    box-shadow:  0px 0px 30px yellow;
}

#Lanzamientos{
    display: flex;
    flex-direction: column;
}

#Albums{
    display: flex;
    flex-direction: row;
}

#portada-albums{
    height: 200px;
    width: 200px;
    padding: 5px;
}

hr{
    width: 600px;
    background-color: black;
    margin: 10px;
}
